@page "/charts"
@inject IDeviceDataGrabber HardwareData



<RadzenCard>
    <div class="row">
        <div class="col-md-4">
            <XYDataChart ChartTitle="Gpu Load" XAxisTitle="Samples" YAxisTitle="GPU-Load" XDataFormatter="@DataFormatter"  _ChartData=@GpuLoadChart  ></XYDataChart>
        </div>
    </div>
</RadzenCard>




@code {

    private static List<XYDataChart.ChartData> GpuLoadChart = new();
    private DateTime _startedAt = DateTime.Now;

    private string DataFormatter(object timestamp)
     => ((DateTime)timestamp).ToString("hh mm ss");

    
    protected override void OnInitialized()
    {
        HardwareData.NewDataCollected += (sender, e) =>
            {
                if (sender == null) return;
                GenericDeviceDataGrabber? info = (GenericDeviceDataGrabber)sender;
                if (info == null) return;

                GpuLoadChart.Add(new XYDataChart.ChartData() { X = DateTime.Now, Y = (info.ThisPC.GPULoad.FirstOrDefault() ?? 0)});
                
                this.InvokeAsync(StateHasChanged);
                
            };
    }
}
