@page "/hardware"
@inject IDeviceDataGrabber HardwareData

<h3>Hardware Monitor</h3>

<div class="row">
	<div class="col-md-4">
		<div class="flex-column">
			<GaugeCard Data=@CPULoad Title="CPU LOAD"></GaugeCard>
			<GaugeCard Data=@GPULoad Title="GPU LOAD"></GaugeCard>
			<GaugeCard Data=@RAMLoad Title="RAM LOAD"></GaugeCard>
		</div>
	</div>
	<div class="col-md-4">
		<div class="flex-column">
			<DataCard Title= "CPU Name" Unit=@CPUName></DataCard>
			<DataCard Title= "GPU Name" Unit=@GPUName></DataCard>
		</div>
	</div>
		<div class="col-md-4">
		<div class="flex-column">
			<DataCard Title= "GPU Temperature" Value=@TempGPU Unit="C"></DataCard>
			<DataCard Title= "CPU Temperature" Value=@TempCPU Unit="C"></DataCard>
		</div>
	</div>
</div>





@code {

	private double CPULoad { get; set; } = 0;
	private double GPULoad { get; set; } = 0;
	private double RAMLoad { get; set; } = 0;

	private double? TempGPU  { get; set; } = 0; 
	private double? TempCPU { get; set; } = 0;

	private string? CPUName { get; set; } = "No data";
	private string? GPUName { get; set; } = "No data";


	protected override void OnInitialized()
	{
		CPULoad = 0;

		HardwareData.NewDataCollected += (sender, e) =>
				{
					if(sender == null) return;
					GenericDeviceDataGrabber? info = (GenericDeviceDataGrabber)sender;
					if(info == null) return;

					CPULoad = info.ThisPC.TotalCpuLoad != null? (double)info.ThisPC.TotalCpuLoad : CPULoad;
					GPULoad = info.ThisPC.GPULoad.First() != null? (double)info.ThisPC.GPULoad.First() : GPULoad;
					RAMLoad = info.ThisPC.RAMLoad.First() != null ?(double)info.ThisPC.RAMLoad.First() : RAMLoad;

					CPUName = info.ThisPC.CpuCompleteName != null ? info.ThisPC.CpuCompleteName : "No brand" ;
					GPUName = info.ThisPC.GpuCompleteName != null ? info.ThisPC.GpuCompleteName : "No brand" ;

					TempGPU = info.ThisPC.GPUTemperature != null ? info.ThisPC.GPUTemperature.First() : 0 ;
					this.InvokeAsync(StateHasChanged);
				};
	}

}
